
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('accounts')">Account</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('payroll')">Pay Roll</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('sales-settings')">Sales Order Processing</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('estimation')">Estimation</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('scheduling')">Scheduling</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('production')">Production</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('inventory')">Inventory</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('costing')">Costing</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('customerrelationship')">Customer Relationship</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="fnRedirect('notification')">Notification</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>





