


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6"><h2>Users</h2></div>
            <div class="col-md-6"><button (click)="fnGoToIndex()" class="btn btn-dark btn-sm" style="float: right;" >Back</button></div>
        </div>
        <form [formGroup]="userForm" (submit)="fnSave()">
            <div class="row form-group" style="display: none;">
                <div class="col-md-4">
                    <label for="name">Id</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="id" id="id" class="form-control" formControlName="id"  [(ngModel)]="user.id">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="name">Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="name" id="name" class="form-control" formControlName="name" [disabled]="true" [(ngModel)]="user.name">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="username">User Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="username" id="username" class="form-control" formControlName="username"  [(ngModel)]="user.username">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="email" id="email" class="form-control" formControlName="email"  [(ngModel)]="user.email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="phone">Phone</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="phone" id="phone" class="form-control" formControlName="phone"  [(ngModel)]="user.phone">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="website">Website</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="website" id="website" class="form-control" formControlName="website"  [(ngModel)]="user.website">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="!userForm.valid">Save</button>
                    <button type="reset" class="btn btn-danger btn-sm" [disabled]="!userForm.valid">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

