<h1>App compomemt</h1>

<h2>Date object: {{myDate}}</h2>
<h2>Date date: {{myDate|date}}</h2>
<h2>Date short: {{myDate|date:'short'}}</h2>
<h2>Date medium: {{myDate|date:'medium'}}</h2>
<h2>Date long: {{myDate|date:'long'}}</h2>
<h2>Date full: {{myDate|date:'full'}}</h2>
<h2>Date shortDate: {{myDate|date:'shortDate'}}</h2>
<h2>Date mediumDate: {{myDate|date:'mediumDate'}}</h2>
<h2>Date longDate: {{myDate|date:'longDate'}}</h2>
<h2>Date fullDate: {{myDate|date:'fullDate'}}</h2>
<h2>Date shortTime: {{myDate|date:'shortTime'}}</h2>
<h2>Date mediumTime: {{myDate|date:'mediumTime'}}</h2>
<h2>Date longTime: {{myDate|date:'longTime'}}</h2>
<h2>Date fullTime: {{myDate|date:'fullTime'}}</h2>

<!--Custom date format pipe-->
<h2>Date object: {{myDate|date:'short'}}</h2>



