<button class="leftNav" (click)="fnRedirect('estimation-settings')">Settings</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-raw-materials')">Raw Materials</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-consumables')">Consumables</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-processes')">Processes</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-models')">Models</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-compute')">Compute</button><br>
<button class="leftNav" (click)="fnRedirect('estimation-reports')">Reports</button><br>
