<button class="leftNav" (click)="fnRedirect('payroll-settings')">PayRoll Settings</button><br>
        <button class="leftNav" (click)="fnRedirect('payroll-employees')">Employees</button><br>
        <button class="leftNav" (click)="fnRedirect('payroll-attendence')">Attendence</button><br>
        <button class="leftNav" (click)="fnRedirect('payroll-esi-pf')">ESI & PF</button><br>
        <button class="leftNav" (click)="fnRedirect('payroll-timesheet')">TimeSheet</button><br>
        <button class="leftNav" (click)="fnRedirect('payroll-reports')">Reports</button><br>
