<button class="leftNav" (click)="fnRedirect('sales-customers')">Customers</button><br>
<button class="leftNav" (click)="fnRedirect('sales-billing')">Billing</button><br>
<button class="leftNav" (click)="fnRedirect('sales-orders')">Sales Orders</button><br>
<button class="leftNav" (click)="fnRedirect('sales-reports')">Sales Reports</button><br>
<button class="leftNav" (click)="fnRedirect('sales-requests')">Sales Requests</button><br>
<button class="leftNav" (click)="fnRedirect('sales-return')">Sales Returns</button><br>
<button class="leftNav" (click)="fnRedirect('sales-settings')">Sales Settings</button><br>
<button class="leftNav" (click)="fnRedirect('sales-shipping')">Shipping</button><br>