

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Add User</h2>
        <form [formGroup]="userForm" action="" method="get" (submit)="fnSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="name" id="name" class="form-control" formControlName="name">
                </div>       
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="email" id="email" class="form-control" formControlName="email">
                </div>       
            </div>
            <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!userForm.valid">Submit</button>
                </div>       
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h2>User List</h2>
        <ul>
            <li *ngFor="let user of users">{{user.name}} - {{user.email}}</li>
        </ul>
    </div>   
</div>


