

<div class="row">
    <form class="col-md-6">
        <div class="rows">
            <div class="col-md-4">
                <label for="">First Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="firstname" id="firstname">
            </div>
        </div>
        <div class="rows">
            <div class="col-md-4">
                <label for="">Last Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="lastname" id="lastname">
            </div>
        </div>
        <div class="rows">
            <div class="col-md-4">
                <label for="">email</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="email" id="email">
            </div>
        </div>
        <div class="rows">
            <div class="col-md-4">
                <label for="">Gender</label>
            </div>
            <div class="col-md-8">
                <label for="male">Male<input type="radio" name="gender" id="male"></label>
                <label for="female">Female<input type="radio" name="gender" id="female"></label>
            </div>
        </div>
        <div class="rows">
            <div class="col-md-4">
                <label for="isMarried">Marrital Status</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" name="isMarried" id="isMarried">
            </div>
        </div>
        
    </form>
</div>





