<button class="leftNav" (click)="fnRedirect('accounts-settings')">Module Settings</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-entries')">Entries</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-journals')">Journals</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-ledgers')">Ledgers</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-attributes')">Attributes</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-check-leafs')">Check Leafs</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-balace-sheet')">Balance Sheet</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-profit-loss')">Profit and Loss</button><br>
<button class="leftNav" (click)="fnRedirect('accounts-reports')">Reports</button><br>
