<p>app-settings works!</p>


<ul>
    <li><label for="cbxAutoBookNo"><input type="checkbox" id="cbxAutoBookNo" >Auto book number</label></li>
    <li><label for="cbKeepLogin"><input type="checkbox" id="cbKeepLogin" >Keep login</label></li>
    <li><label for="cbxTfa"><input type="checkbox" id="cbxTfa" >Two factor authentication</label></li>
    <li><label for="cbxCreateNewAfterSaving"><input type="checkbox" id="cbxCreateNewAfterSaving" >Create new after saving</label></li>
    <li><label for="cbxExpirePassword"><input type="checkbox" id="cbxExpirePassword" >Expire password for every two months</label></li>
    <li><label for="cbxLatestUpdates"><input type="checkbox" id="cbxLatestUpdates" >Notify latest updates</label></li>
    <li><label for="cbxNotifyBeforeDelete"><input type="checkbox" id="cbxNotifyBeforeDelete" >Notify before delete</label></li>
    <li><label for="cbxProfileStaus"><input type="checkbox" id="cbxProfileStaus" >Publish profile status</label></li>
    <li><label for="cbxAudio"><input type="checkbox" id="cbxAudio" >Notify sounds</label></li>
</ul>
