<button class="leftNav" (click)="fnRedirect('inventory-settings')">Settings</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-opening')">Stock Opening</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-groups')">Product Groups</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-products')">Products</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-grs')">GR Sheet</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-entries')">Stock Entries</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-consumptions')">Consumptions</button><br>
<button class="leftNav" (click)="fnRedirect('inventory-reports')">Reports</button><br>
