<app-main></app-main>


<ul class="sidebar">
  <li><a routerLink='/app' style="visibility: hidden;">App Settings</a></li>
  <li><a routerLink='/home' style="visibility: hidden;">Home</a></li>
  <li><a routerLink='/app'>App Settings</a></li>
  <li><a routerLink='/home'>Home</a></li>
  <li><a routerLink='/acc'>Account</a></li>
  <li><a routerLink='/payroll'>PayRoll</a></li>
  <li><a routerLink='/op'>Order Processing</a></li>
  <li><a routerLink='/inv'>Inventory</a></li>
  <li><a routerLink='/crm'>CRM</a></li>
  <li><a routerLink='/pro'>Production</a></li>
  <li><a routerLink='/ec'>Estimation and Costing</a></li>
</ul>

<div class="main">
  <router-outlet></router-outlet>
</div>

